/*task dom */
.class1 {
	background: #dbd1d1;
}
.class2 {
	background: #bae5d8;
	font-weight: bold;
}
span {
	padding: 0px 20px 0px 20px;
}
#rand {
	background: white;
	border: 1px solid #3b5998;
}

/* task flex */
#container{
	width: 600px;
	height: 600px;
	position: relative;
}

#action4{
	position: absolute;
	left: 0px;
	bottom: 0px;
	animation-direction: alternate;
}

.sepia {
	filter: sepia(80%);
	transition: 1s;
}
.sepia:hover {
	filter: sepia(0);
}


/*task css*/
.d3 {
	position: absolute;
	top: 80px;
	left: -100px;
	width: 550px;
	height: 300px;
	border-radius: 250px/130px;
	background: linear-gradient(#A6BECF, white);
	z-index: 3;
}
/*body{*/
/*	background: #25A9FC;*/
/*}*/

.box{
	position: relative;
	margin: auto;
	display: block;
	margin-top: 8%;
	width: 600px;
	height: 420px;
	background: none;
}

.head{
	position: absolute;
	top:16.5%;
	left: 25%;
	width: 50%;
	height: 67%;
	background: #a0b7c7;
	border-radius: 50%;
	z-index: 6;
}

.head-copy{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #a0b7c7;
	border-radius: 50%;
	z-index: 4;
}

.ear-left{
	position: absolute;
	width: 30%;
	height: 30%;
	left: 0%;
	top: 5%;
	background: #a0b7c7;
	border-radius: 50%;
	z-index: 1;
}

.ear-right{
	position: absolute;
	width: 30%;
	height: 30%;
	right: 0%;
	top: 5%;
	background: #a0b7c7;
	border-radius: 50%;
	z-index: 1;
}

.pol-oval-left {
	position: absolute;
	top: 38%;
	left: 30%;
	width: 40px;
	height: 18px;
	background: #000000;
	border-top-left-radius: 15px 13px;
	border-top-right-radius: 15px 13px;
	z-index: 5;
}

.pol-oval-right {
	position: absolute;
	top: 38%;
	left: 55%;
	width: 40px;
	height: 18px;
	background: #000000;
	border-top-left-radius: 15px 13px;
	border-top-right-radius: 15px 13px;
	z-index: 5;
}

.inner-ear{
	position: absolute;
	border-radius: 50%;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	background: #819CAF;
}

.eye-left{
	position: absolute;
	background: white;
	width: 30%;
	height: 33%;
	top: 25%;
	left: 21%;
	border-radius: 50%;
	z-index: 5;
}

.eye-right{
	position: absolute;
	background: white;
	width: 30%;
	height: 33%;
	top: 25%;
	right: 21%;
	border-radius: 50%;
	z-index: 5;
}

.nose{
	position: absolute;
	border: 20px solid transparent;
	border-top: 20px solid black;
	left: 42%;
	top: 50%;
	z-index: 4;
}

.line1 {
	position: absolute;
	top: 162px;
	left: 105px;
	border: 1px solid black;
	width: 40px;
	z-index: 5;
	height: 0px;
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.line2 {
	position: absolute;
	top: 170px;
	left: 145px;
	border: 1px solid black;
	width: 40px;
	z-index: 5;
	height: 0px;
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(30deg);
}

.n-1{
	position: absolute;
	border: 30px solid transparent;
	border-top: 140px solid  #819CAF;
	left: 52%;
	top: 80%;
	z-index: 2;
}
.n-2{
	position: absolute;
	border: 30px solid transparent;
	border-top: 140px solid  #A6BECF;
	left: 42%;
	top: 80%;
	z-index: 2;
}

.n-3{
	position: absolute;
	border: 30px solid transparent;
	border-top: 140px solid  #819CAF;
	left: 5%;
	top: 80%;
	z-index: 2;
}
.n-4{
	position: absolute;
	border: 30px solid transparent;
	border-top: 140px solid  #A6BECF;
	left: -5%;
	top: 80%;
	z-index: 2;
}

.hvost {
	position: absolute;
	top: -20px;
	left: -120px;
	width: 35px;
	height: 230px;
	background:  #A6BECF;
	border-radius: 20px/130px;
	transform: rotate(-10deg);
	border: 4px solid #819CAF;
}
